declare -A cephs
cephs=( [manager]='cn-south-2a-manager-94-20' [compute]='cn-south-2a-compute-80-140' [vm1]='cn-south-2a-ceph-80-211' [oss]='10.4.80.241' )
manager="cn-south-2a-manager-94- 20 22"
compute="cn-south-2a-compute-80- 140 181 148"
#vm1="cn-south-2a-ceph-80- 211 237 218 219 220 228 229 230"
vm1="10.4.80. 211 237 218 219 220 228 229 230"
#oss="cn-south-2a-oss-80- 241 246"
oss="10.4.80. 241 246"
targetusers="yovole"

keyname=readonly
keyring=ceph.client.$keyname.keyring
caps='mon "allow r" mgr "allow r" osd "allow r"'
